/* Root Style */
* {
    font-family: var(--font);
}

/* Top Bar Style */
#top-bar {
    background: var(--top-bar-color);
}

#top-bar-logo {
    background: var(--top-bar-logo);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#top-bar-title {
    font-size: calc(var(--top-bar-height) * 0.5);
    color: var(--top-bar-text-color);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    background: #ffffff;
    border-radius: 2px;
}

.hamburger-menu input {
    appearance: none;
    outline: none;
    pointer-events: none;
}

/* Side Bar Style */
#sidebar {
    background-image: var(--sidebar-background);
    background-repeat: no-repeat;
}

.layout-option {
    display: flex;
    align-items: center;
}

.layout-option label {
    color: var(--sidebar-text-color);
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.layout-option input {
    display: none;
}

.radio-custom-label i, .radio-line-tech i, .radio-csr i {
    font-size: 20px;
}

input[type=radio]:checked + .radio-custom-label {
    background-image: radial-gradient(circle at center, rgba(159, 159, 159, 0.5) 50%, #292929 51%);
    background-position: center;
    background-repeat: no-repeat;
    animation: sidebar-label-clicked 0.2s;
    animation-fill-mode: forwards;
    border-right: 4px var(--sidebar-accent-color) solid;
}

.radio-custom-label:hover {
    background-color: var(--sidebar-item-hover-color);
}

/* Tile Area Style */
#tile-area {
    background: var(--time-area-background-color);
    color: hotpink;
}