/* Root Style */
* {
    font-family: var(--font);
}

/* Top Bar Style */
#top-bar {
    background: var(--top-bar-color);
}

#top-bar-logo {
    width: calc(var(--top-bar-height) * 0.8);
    height: calc(var(--top-bar-height) * 0.8);
    background: var(--top-bar-logo);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#top-bar-title {
    font-size: calc(var(--top-bar-height) * 0.5);
    color: var(--top-bar-text-color);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: 20px;
    height: 3px;
    background: #ffffff;
    border-radius: 2px;
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

#sidebar-button {
    padding-left: 9px;
    height: var(--top-bar-button-height)
}

.search-bar {
    position: relative;
}

.search-input {
    position: relative;
    right: 0;
}

.search-button {
    position: absolute;
    right: -10px;
    margin-right: 10px;
}

#top-bar-search .search-input {
    height: calc(var(--top-bar-button-height) - 5px);
    border-radius: 50px;
}

#top-bar-search .search-button {
    border-radius: 0 50px 50px 0;
    height: var(--top-bar-button-height);
}

#top-bar-notification {
    margin-left: 30px;
}

#top-bar-settings {
    margin-left: 2px;
    margin-right: 20px;
}

/* Side Bar Style */
#sidebar {
    background-image: var(--sidebar-background);
    background-repeat: no-repeat;
}

.layout-option {
    height: var(--side-bar-entry-height);
    display: flex;
    align-items: center;
}

.layout-option label {
    color: var(--sidebar-text-color);
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    height: var(--side-bar-entry-height);
    display: flex;
    align-items: center;
}

.layout-option input {
    display: none;
}

.radio-custom-label i, .radio-line-tech i, .radio-csr i {
    padding-right: 8px;
    font-size: 20px;
    padding-left: 8px;
}

input[type=radio]:checked + .radio-custom-label {
    background-image: radial-gradient(circle at center, rgba(159, 159, 159, 0.5) 50%, #292929 51%);
    background-position: center;
    background-repeat: no-repeat;
    animation: sidebar-label-clicked 0.2s;
    animation-fill-mode: forwards;
    border-right: 4px var(--sidebar-accent-color) solid;
}

.radio-custom-label:hover {
    background-color: var(--sidebar-item-hover-color);
}

/* Tile Area Style */
#tile-area {
    background: var(--time-area-background-color);
}